@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
    font-weight: 400;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
    background-color: #0367A6;
    border-color: #0367A6;
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #1B91BF;
    border-color: #1B91BF;
}